@model IPagedList<SCNEXTCoreApp.Models.Master.Warehouse>
@using PagedList.Core;

@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SCNext</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    @*<form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
                 @using (Html.BeginForm("Index", "Brand", FormMethod.Get))
                {
                    @Html.RadioButton("searchBy", "Name", true)<text>Name: </text><br />
                    @Html.RadioButton("searchBy", "Code")<text>Code: </text><br />
                    @Html.TextBox("search") <input type="submit" class="form-control" value="search" >
                }
            </div>
        </form>*@


    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Warehouse List</h4>
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Warehouse" asp-action="Index" method="get">
                            <a asp-action="AddorEdit" class="btn btn-outline-success"><i class="far fa-plus-square"> </i> Create</a>

                            @Html.RadioButton("searchBy", "Name", true)<text> Name</text>
                            @Html.RadioButton("searchBy", "Code", true)<text> Code</text>
                            @Html.TextBox("search")
                            <input type="submit" value="Search" />

                        </form>
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Code
                                    </th>
                                    @*<th>
                                           BranchId
                                        </th>
                                        <th>
                                            MangerID
                                        </th>
                                        <th>
                                           Address
                                        </th>
                                        <th>
                                            Address2
                                        </th>
                                        <th>
                                            PostCode
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                        <th>
                                            City
                                        </th>
                                        <th>
                                            ContactPer
                                        </th>
                                        <th>
                                            ContPerMobNo
                                        </th>
                                        <th>
                                           ContPerEmail
                                        </th>
                                        <th>
                                            WMFaxNo
                                        </th>
                                        <th>
                                           WMDepartmentId
                                        </th>
                                        <th>
                                            WMTeleNo
                                        </th>
                                        <th>
                                            WMEmail
                                        </th>
                                        <th>
                                          WMUrl
                                        </th>
                                        <th>
                                            WMCurrencyId
                                        </th>*@

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td>No rows match search criteria</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Code)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.BranchId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MangerID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PostCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.State.StateId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Country.CountryId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.City.CityId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ContactPer)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ContPerMobNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ContPerEmail)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WMFaxNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WMDepartmentId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WMTeleNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WMEmail)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WMUrl)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WMCurrencyId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IP)
                                                </td>*@
                                            <td>
                                                <a asp-action="AddorEdit" asp-route-id="@item.WarehouseId"><i class="fa fa-marker fa-lg"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.WarehouseId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div class="form-group col-md-4">
    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
</div>
<pager class="pager-container" list="@Model" asp-action="Index" asp-controller="Warehouse" />
